<a href="https://colab.research.google.com/github/delbali/ClassroomBACK/blob/master/Lesson_02_REVISED_for_homecheck.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/pumazzo/ISS-Python2026/blob/main/images/cover.jpg?raw=1)

<p align="center">
  <img src="https://www.bvspiemonte.it/wp-content/uploads/2019/03/logo-ISS.jpg" width="180">
</p>


# Built-in types and operations

## Variables

As in every other programming language, it is useful to give symbolic names to values to generalize some expressions, as we do in math.
These names are called __variables__.
Variables are fundamental in every programming
language, since they allow us to store the data we
need to process.

In [20]:
a = 5
b = 3.2
c = a
print(c)
C = b # it's not "c", it's another variable: Python is CASE SENSTIVE!
print(C)

5
3.2

To make it simple, variables are like boxes in which we put stuff. It is not mandatory, but very recomended, to call the
variable in a way that reminds its content. This will
help a lot during programming!


*   Variable names can contain only letters, numbers, and underscores.

*   Spaces are not allowed in variable names, but underscores can be
used to separate words in variable names;

*   They can start with a letter or an underscore, but not with a number;

*   You can't use Python keywords and function names as variable names (like "False", "True", "if" and so on);

## Assignment operator

Let's have a better look at the line:

`A=B`

The operator "=" is called __assignment operator__, and it works from right to left: first evaluates B and then assigns it the name A.

For example:

In [21]:
a = 3 + 2
print(a)

5

In Python, variables don’t store data directly but rather store references to objects in memory.

When you assign a number to a variable (like an integer or a float), Python treats the variable as a label for that specific value. If you assign a new variable to the first one (y = x), Python creates a copy of the value.

Because numbers are immutable (they cannot be changed, only replaced), x and y act as independent variables.

In [22]:
x = 5
y = x # y gets the value 5
x = 10 # x is now pointing to a new value (10)

print(x)
print(y)

10
5

When you assign a variable to a list, the variable does not hold the list itself; it holds its reference, the place where that list lives in the computer's memory.

In [23]:
a = [1, 2, 3]
b = a # b now points to the SAME list as a
a.append(4) # We modify the list via a

print("a is equal to ", a)
print("b is equal to ", b)

a is equal to  [1, 2, 3, 4]
b is equal to  [1, 2, 3, 4]

## Types

To define how variables behave, python uses __types__. Python is a __strongly typed__ language, meaning that everything in python needs to have a definite type, but is also a __dynamically typed__ language, meaning that the type of each variable will be determined only at runtime.

We can find out the type of any variable with the type() function:

In [24]:
a="10.0"
b=10.0
print(type(a))
print(type(b))

<class 'str'>
<class 'float'>

If we try to do an arithmetic operation on two variables of different type, we get an error

In [25]:
#c = a/b
#sometimes in python casting is automatic, such as between integers (natural numbers) and float (decimal numbers)
#sometimes it is NOT and we have to be very careful

c=float(a)/b
print(c)

1.0

But we do have the chance, in some cases, such as betwenn strings and int, to transform (or cast) the variable into the type we need. This process is called Type Casting (or explicit type conversion).

We can force Python to treat a string as a number (if it looks like one) or a number as a string using specific functions:

*   int(): Converts to an integer.
*   float(): Converts to a decimal number.
*   str(): Converts to a string.

In [26]:
a = "10"
b = 5
# This would cause an error: print(a + b)
# How would you modify a to be able to sum it to b?

## Types

In python, basic variable types can be grouped in the following categories:

* Numbers (integers, float, complex)
* Strings
* Boolean (true/false)
* Sequences/collections (tuples, lists)

## Floating point
The floating point numbers are represented by the type _**float**_:

In [27]:
number = 2**-1024
print(number) #this is a very small number! to store it python uses a float a 64 bit variable.
#keeping it simple, python uses 1 bit to remember the sign, then some momery about where the decimal point goes and some memory is for the actual digits.

5.562684646268003e-309

In [28]:
type(number)
#2 and 2.0 are two different types!
number1=5
type(number1)
number2=2.5
type(number2)
sum=number1+number2 #implicit casting
print(sum)
print(type(sum))

7.5
<class 'float'>

## Arithmetic operators

Common operators are available:
* \+ (sum, concatenation): Adds values
on either side of the
operator.
* \- (subtraction): Subtracts
right hand operand
from left hand operand.
* \* (multiplication):
Multiplies values on
either side of the
operator.
* / (division): Divides left
hand operand by right
hand operand.
* // (integer division): The
division of operands
where the result is the
quotient in which the
digits after the decimal
point are removed.
* % (remainder): Divides left
hand operand by right
hand operand and
returns remainder
* ** (exponent): Performs
exponential (power)
calculation on
operators.

## Integer division

In python, dividing two integers produces a float:

In [29]:
10 / 4  # in python the / division operator always returns a float, even if the result is a whole number.

2.5

When you want the division with truncation, you can use the operator //:

In [30]:
10 // 4 #it divides the numbers and rounds the result DOWN to the nearest whole integer

2

Despite being highly atypical compared to other languages, this is very convenient.

## Division with truncation

The operator // division with truncation is also
available for the float:

In [31]:
10.0 / 4.0

2.5

In [32]:
10.0 // 4.0 # if used with floats, // still performs floor division, but it returns the result as a float type (x.0) to maintain consistency with the input data types.

2.0

## Remainder
Another useful binary operator is the remainder, **%**:

In [33]:
5 % 3

2

In [34]:
5.0 % 3.0

2.0

## Unary increment operators

Like in C, increment operators can be associated to assignment operators to act directly on a variable:
* += (increase by)
* -= (decrease by)
* *= (multiply by)
* /= (divide by)

In [35]:
a = 10
a += 4 # a = a + 4
a

14

## Strings

A string is a data type which allows to handle
alphanumeric data.
Alphanumeric data means all the combination
between letters, numbers and symbols.
Anything inside quotes is considered a string in
Python.
And they can be created either with single quotes ('alpha') or double quotes (“alpha”)

In [36]:
my_string="hello"
type(my_string)

str

In [37]:
print("alpha" + 'beta')

alphabeta

What happens if we run this code?

In [38]:
age = input('How old are you?')
print(age)
print(type(age))

How old are you?5
5
<class 'str'>

In [39]:
#age = age + 10
#print(age) #why do we get this error? how can we fix it?
age = int(age)+10

Note that using both single and double quotes allows the
user to insert apostrophes within strings:

In [40]:
print('I told my friend, "Python is my favorite language!"')
print("The language 'Python' is named after Monty Python, not the snake. But yeah, snakes are cool, right?")

I told my friend, "Python is my favorite language!"
The language 'Python' is named after Monty Python, not the snake. But yeah, snakes are cool, right?

## Strings
Strings can be printed in two ways:
* If function print() is used, the string content is shown

```python
>>> print("Hello, " + "world!")
Hello, world!
```

* In the interactive intepreter, if we write an expression that produces a string, the content will be shown with quotes:

```python
>>> "Hello, " + "world!"
'Hello, world!'
```

## Strings

When writing strings in Python, the backslash (\) is a special "signal." It tells Python: "The next character is not just a letter; it is a command or a special symbol."

* `\n` is a newline: when Python sees \n, it behaves exactly like pressing the Enter key on your keyboard. It terminates the current line and moves the cursor to the beginning of the very next line.

* `\t` is a tab: when Python sees \t, it behaves like the Tab key. It inserts a specific amount of horizontal whitespace (usually equivalent to 4 spaces) to align the text. This is useful for making columns or indentation without hitting the spacebar multiple times.

In [41]:
print("alpha\nbeta\tgamma")

alpha
beta	gamma

## String formatting

Python supports multiple ways of string formatting. Here we will focus on three of them.

1) Sequence of multiple arguments

In [42]:
a = 5
b = 7
print("Variable 'a' has value", a, "and variable 'b' has value", b)

Variable 'a' has value 5 and variable 'b' has value 7

In [43]:
name = "James"
surname = "Bond"
print("My name is", surname, ".", name, surname, ".") # you can set sep = '' to avoid unwanted empty spaces

My name is Bond . James Bond .

How would you modify the line to write exactly "My name is Bond. James Bond." using the separator?

In [44]:
name = "James"
surname = " Bond"
print("My name is", surname, ". ", name, surname, ".", sep='') # you can set sep = '' to avoid unwanted empty spaces. by default python uses the ' ' separator.

My name is Bond. James Bond.

2) `format()` method

In [45]:
name = "James"
surname = "Bond"
print("My name is {}. {} {}.".format(surname, name, surname))

My name is Bond. James Bond.

You can use an index in order to omit repetitions. An index is an indicator of the element in the specific position. In computer science we start counting from 0, and not from 1 how you would usually do, so the element in position 0 is the first one and the one in position 1 is the second:

In [46]:
print("My name is {0}. {1} {0}.".format(name, surname))

My name is James. Bond James.

You can use aliases in order to avoid to remember the correct order:

In [47]:
print("My name is {mysurname}. {myname} {mysurname}".format(myname=name, mysurname=surname))

My name is Bond. James Bond

3) F-string syntax (Python 3.6+)

In [48]:
name = 'James'
surname = 'Bond'

In [49]:
f'My name is {surname}. {name} {surname}.'

'My name is Bond. James Bond.'

N.B. f-strings sections in curly braces are python expression which are converted in strings on the fly, thus you can also operate with the variables inside:

In [50]:
one = 1 ; two = 2

In [51]:
f'{one} / {two} = {one/two}'

'1 / 2 = 0.5'

Strigs are **immutable**. You can access the character of the string in the specific position identified by the index but you **CANNOT** modify it.

In [52]:
string ="ciao"
print(string[0])

c

In [53]:
# string[0] = "C" --> this is NOT possible!

### `len()` function

In [54]:
string = "ciao"
string_length = len(string)
print(string_length)

4

## Booleans

The bool type is used for logical values True/False.

Thus, a bool object can assume either one of:
* `True`
* `False`

In [55]:
type(True)

bool

## Boolean operators

Operators that act on booleans are __logic operators__ (`and`, `or`, `not`).

Boolean type is also the output of __comparison operators__ (`==`, `<=`, `<`, `>=`, `>`, `!=`, `is`, `is not`).

In [56]:
a=True
b=False
print(a and b) #everything is true -> which is false
print(a or b) #at least one is true -> which is true
print(not a) #a is false -> which is false

False
True
False

In [57]:
a=1
b=2
print(a == b) # Try other comparison operators

False

## `==` VS `is`

In [58]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)
print(a is b)

True
False

In [59]:
print(id(a)) #they do have differents ids
print(id(b))

139432643255552
139432643256704

In [60]:
f = [4,5,6]
g = f
print(f is g)

True

In [61]:
print(id(f))
print(id(g))

139432643262016
139432643262016

In [62]:
c = a
print(a is c)

True

## None

In python exists a special object called None. It is used as an indefinite value (or no value). It is an object of class NoneType.

It is particularly useful when used as placeholder (e.g. when you're working with databases and you need to mark a field as empty)

In [63]:
a = None
print(a)
type(a)

None

NoneType

## Test 1: some string manipulation (name.py)

* Define a string name that contains your name, a string surname containing your last name;
* Print the length of the two strings;
* Concatenate the two strings forming name_surname;
* Print the length of name_surname.

In [64]:
# 1. Define name and surname
name = "Alice"
surname = "Del Bove"

# 2. Print the length of the two strings
# The len() function counts every character, including spaces
print(f"Length of name: {len(name)}")
print(f"Length of surname: {len(surname)}")

# 3. Concatenate the two strings
# We add a space " " in the middle so they don't stick together
full_name = name + " " + surname

# 4. Print the length of the new combined string
print(f"Full name: {full_name}")
print(f"Length of full name: {len(full_name)}")

Length of name: 5
Length of surname: 8
Full name: Alice Del Bove
Length of full name: 14

## Test 2: some geometry (cylinder.py)

* Write a code to compute the volume and total surface area of a cylinder of radius 4 and height 6.
* EXTRA (1): modify the previous code to take user input for the radius value.
* EXTRA (2): make sure input and outputs are easy to read and understand.


Some help in case you forgot the details:

  $S = 2πr(r + h)$
  
  $V = πr^2*h$

In [65]:
import math #we import the math module, needed for the math.pi variable (better then approximating)

height = 6

# EXTRA (1): Taking user input for the radius
try:
    user_input = input("Enter the radius of the cylinder: ")
    radius = float(user_input)
except ValueError:
    print("Invalid input! Please enter a numeric value.")
    # Defaulting to 4 if input fails to keep the script running
    radius = 4
    print(f"Defaulting to radius = {radius}")

# --- CALCULATION SECTION ---
# Volume: V = π * r^2 * h
volume = math.pi * (radius**2) * height

# Total Surface Area: S = 2 * π * r * (r + h)
surface_area = 2 * math.pi * radius * (radius + height)

print("volume: ",volume)
print("surface_area: ",surface_area)

# EXTRA (2): Using f-strings with right-alignment and 2 decimal places
print("\n")
print("="*30)
print(f"Radius:{radius:>10.2f}")
#>10 this is the right-alignment, it reserves 10 spaces and pushes the number to the right edge
#.2 this rounds the number to exactly 2 decimal places
#f this ensures the number is displayed as standard decimal
print(f"Height:{height:>10.2f}")
print("-" * 30)
print(f"Volume:{volume:>10.2f}")
print(f"Surface Area:{surface_area:>10.2f}")
print("="*30)

Enter the radius of the cylinder: 5
volume:  471.23889803846896
surface_area:  345.57519189487726


==============================
Radius:      5.00
Height:      6.00
------------------------------
Volume:    471.24
Surface Area:    345.58
==============================